
// header & titles
@mixin ft-text-title-xl {
  @include font-size(48px);
  line-height: 56px;
}

@mixin ft-text-title-lg {
  @include font-size(40px);
  line-height: 44px;
}

@mixin ft-text-title-md {
  @include font-size(32px);
  line-height: 36px;
}

@mixin ft-text-title-sm {
  @include font-size(24px);
  line-height: 28px;
}

@mixin ft-text-title-xs {
  @include font-size(20px);
  line-height: 24px;
}

// body copy

@mixin ft-text-body-md {
  @include font-size(16px);
  line-height: 24px
}

@mixin ft-text-body-sm {
  @include font-size(14px);
  line-height: 21px
}

@mixin ft-text-body-xs {
  @include font-size(12px);
  line-height: 18px;
}