@use "../../vendor/protocol/css/base/elements/lists";
@use "../utilities/mixins/typography" as *;
@use "../../vendor/protocol/css/includes/lib" as *;

:root {
  --title-font-weight: 700;
}

body {
  @include ft-text-body-md;
  font-family: $font-stack-base;
}

.ft-header-xl {
  @include ft-text-title-xl;
  font-family: $font-stack-mozilla-headline;
}

h1,
.h1 {
  @include ft-text-title-lg;
  font-family: $font-stack-base;
}

h2,
.h2 {
  @include ft-text-title-md;
  font-family: $font-stack-base;
}

h3,
.h3 {
  @include ft-text-title-sm;
  font-family: $font-stack-base;
}

h4,
.h4 {
  @include ft-text-title-xs;
  font-family: $font-stack-base;
}

#content ul,
#content ol {
  @extend .mzp-u-list-styled;
}
