/*--------------------------------------------------------------
Configuration

Variables, configurations, etc
--------------------------------------------------------------*/

// Protocol Variables
$font-path: "../vendor/protocol/fonts" !default;
$image-path: "../vendor/protocol/img";

$brand-theme: 'firefox';

$type-scale: 'condensed';