/*--------------------------------------------------------------
Configuration

Variables, configurations, etc
--------------------------------------------------------------*/

// Protocol Variables
$font-path: "../vendor/protocol/fonts";
$image-path: "../vendor/protocol/img";

$type-scale: "condensed";

$ft-border-radius: 2px;
