@import "./node_modules/@mozilla-protocol/core/protocol/css/components/button";

.ft-button--dark,
a.ft-button--dark {
  @extend .mzp-c-button.mzp-t-xl;
  @extend .mzp-c-button;
  background-color: $color-violet-60;
  color: $color-white;
  border: 2px solid $color-violet-60;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    background-color: $color-violet-70;
    box-shadow: none;
    color: $color-white;
    transform: none;
    border: 2px solid $color-violet-70;
  }
}

.ft-button-secondary,
a.ft-button-secondary {
  @extend .mzp-c-button;

  border-color: $color-light-gray-50;
  background-color: transparent;
  color: $color-dark-gray-10;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    background-color: $color-light-gray-20;
    box-shadow: none;
    color: $color-dark-gray-10;
    transform: none;
  }
}

.ft-button-secondary--dark,
a.ft-button-secondary--dark {
  @extend .mzp-c-button.mzp-t-xl;
  @extend .mzp-c-button;

  border-color: $color-white;
  background-color: transparent;
  color: $color-white;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    background-color: $color-light-gray-20;
    box-shadow: none;
    color: $color-black;
    transform: none;
  }
}
