.ft-c-featured-video {
  h2 {
    max-width: 80%;
    margin-bottom: 24px;
  }

  @media #{$mq-lg} {
    h2 {
      max-width: 60%;
    }
  }
}

.ft-c-featured-video__background {
  padding: 48px 0 72px;
  color: white;
  background-color: $color-moz-dark-green;

  @media #{$mq-lg} {
    padding: 72px 0;
  }
}

.ft-c-featured-video__media {
  margin-bottom: -160px;
  position: relative;

  > img {
    box-shadow: $box-shadow-lg;
    transition: filter 0.2s ease;
    filter: brightness(0.8);
    border-radius: 8px;
  }

  &:hover {
    > img {
      filter: brightness(1);
    }
  }
}

.ft-c-featured-video__play-icon {
  cursor: pointer;
  position: absolute;
  z-index: 99999;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100px;
    width: 100px;
    box-shadow: $box-shadow-md;
  }
}

.ft-c-featured-video__cta {
  margin-top: 112px;
  display: flex;
  justify-content: center;
  a {
    padding-left: 48px;
    padding-right: 48px;
    text-align: center;
  }
}
