.ft-c-featured-extra {
  background-color: $color-marketing-gray-90;
  color: #ffffff;
  padding: 40px;

  @media #{$mq-md} {
    padding: 64px;
  }

  @media #{$mq-lg} {
    padding: 80px;
  }
}

.ft-c-featured-extra__wrap {
  @media #{$mq-md} {
    display: flex;

    @supports (display: grid) {
      display: grid;
      grid-column-gap: 80px;
      grid-template-columns: 1fr 2fr;
    }
  }
}

.ft-c-featured-extra__image,
.ft-c-featured-extra__content {
  flex: 1;
}

.ft-c-featured-extra__image {
  justify-content: center;

  @media #{$mq-md} {
    display: flex;
    margin-right: 40px;

    @supports (display: grid) {
      margin-right: 0;
      justify-content: flex-end;
      align-self: center;
    }
  }
}

.ft-c-featured-extra__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;

  @media #{$mq-md} {
    margin-top: 0;
  }

  p {
    max-width: 80%;
  }
}

.ft-c-featured-extra__ctas {
  .mzp-t-secondary {
    margin-right: 10px;
  }
}

.ft-c-featured-extra__ctas {
  display: flex;
}
