@use "../../vendor/protocol/css/includes/lib" as *;
@use "../utilities/mixins/typography" as *;

.ft-c-label {
  @include ft-text-body-xs;
  letter-spacing: 0.15rem;
  color: $color-ink-80;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: block;

  &.ft-c-label--dark {
    color: $color-light-gray-70;
  }

  &.ft-c-label--white {
    color: $color-white;
  }
}

// optional pill style label
.ft-c-pill {
  @include ft-text-body-xs;
  color: $color-white;
  background-color: $color-black;
  display: inline-block;
  border-radius: 4px;
  padding: 4px 8px;
  align-self: flex-start;
  font-weight: 400;
  letter-spacing: 1px;
}
