.ft-c-post-meta {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  img {
    margin-right: 8px;
    max-width: 24px;
    padding: 0;
    height: 16px;
    width: 16px;
  }

  span {
    text-transform: uppercase;
    // font-weight: bold;
    letter-spacing: 0.5px;
    flex: 0 0 100%;
    margin-right: 16px;

    a,
    a:hover {
      text-decoration: none;
      color: #000000;
    }
  }
}
