@use '../../vendor/protocol/css/includes/lib' as *;
@use "../utilities/mixins/typography" as *;


.ft-c-post-nav {
  background-color: $color-light-gray-20;

  p {
    font-weight: bold;
  }
}

.ft-c-post__wrap {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;

  @media #{$mq-md} {
    padding: 60px 0;
  }
}

.ft-c-post-nav__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: $color-black;
  padding: 24px 0;

  &--left {
    border-right: 1px solid $color-light-gray-30;
  }

  img {
    padding: 6px;
    width: 38px;
    height: 32px;
    flex-shrink: 0;
  }

  @media #{$mq-md} {
    padding: 0;
  }
}

a.ft-c-post-nav__item:hover {
  background-color: $color-light-gray-30;
  color: $color-ink-80;
}

.ft-c-post-nav__item-content {
  padding: 8px 20px;
  margin-bottom: 0px;
  min-width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;

  @media #{$mq-md} {
    padding: 8px 60px;
  }

  span {
    font-weight: bold;
    margin-bottom: 0;
    display: block;
    @include ft-text-body-sm;
    @media #{$mq-md} {
      font-weight: 200;
      margin-bottom: 16px;
    }
  }

  p {
    display: none;
    @media #{$mq-md} {
      display: block;
    }
  }
}
