// Note: some of these class names are set by Wordpress

.ft-c-search {
  background-color: $color-light-gray-20;
  position: sticky;
  top: 72px;
  left: 0;
  width: 100%;
  height: 0;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: none;
  visibility: hidden;

  .search-form {
    display: flex;
  }

  h4 {
    text-align: center;
  }

  input {
    height: 64px;
    border: 2px solid $color-light-gray-40;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: $font-metropolis;
    font-size: 14px;
    margin: 0;
  }

  .search-submit {
    padding: 0 24px;
    letter-spacing: 1px;
    margin-left: 8px;
    cursor: pointer;
    transition: background-color 0.3 ease;

    &:hover {
      background-color: $color-light-gray-10;
    }
  }

  .search-field {
    width: 200px;
    min-width: 200px;

    &:hover,
    &:focus {
      border-color: $color-blue-40;
    }

    @media #{$mq-sm} {
      width: 340px;
    }

    @media #{$mq-md} {
      width: 450px;
    }

    @media #{$mq-lg} {
      width: 600px;
    }
  }

  &.ft-j-active {
    display: flex;
    visibility: visible;
    height: 250px;
  }
}
