.ft-c-single-post__header {
  img {
    width: 100%;
  }
  @media #{$mq-lg} {
    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
  }
}

.ft-c-single-post__featured-image,
.ft-c-single-post__featured-video {
  margin-bottom: 32px;

  @supports (display: grid) {
    grid-row: 1 / 2;
    grid-column: 1 / 13;
  }

  @media #{$mq-lg} {
    margin-bottom: 64px;
  }
}

.ft-c-single-post__category {
  @media #{$mq-lg} {
    @supports (display: grid) {
      grid-row: 2 / 3;
      grid-column: 2 / 8;
    }
  }

  @media #{$mq-xl} {
    @supports (display: grid) {
      grid-row: 2 / 3;
      grid-column: 3 / 8;
    }
  }
}

.ft-c-single-post__title {
  @include ft-text-title-lg;
  font-family: $font-stack-mozilla;
  margin-bottom: 24px;

  @supports (display: grid) {
    grid-row: 3 / 4;
    grid-column: 3 / 13;
  }

  @media #{$mq-lg} {
    @include ft-text-title-xl;
    @supports (display: grid) {
      grid-row: 3 / 4;
      grid-column: 2 / 13;
    }
  }

  @media #{$mq-xl} {
    @supports (display: grid) {
      grid-row: 3 / 4;
      grid-column: 3 / 11;
    }
  }
}

.ft-c-single-post__body {
  @media #{$mq-lg} {
    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  }

  p {
    font-size: 18px;
    line-height: 1.5;
  }

  @supports (display: grid) {
    > * {
      grid-column: 1 / 13;

      @media #{$mq-lg} {
        grid-column: 3 / 13;
      }

      @media #{$mq-xl} {
        grid-column: 4 / 11;
      }
    }
  }

  > .wp-block-image,
  > .wp-block-embed-youtube {
    margin: 40px 0;

    @supports (display: grid) {
      grid-column: 2 / 10;

      @media #{$mq-lg} {
        grid-column: 2 / 13;
      }

      @media #{$mq-xl} {
        grid-column: 3 / 12;
      }
    }
  }
}

.ft-c-single-post__meta {
  margin-bottom: 24px;

  display: flex;
  @media #{$mq-lg} {
    > div {
      margin-right: 20px;
    }

    @supports (display: grid) {
      grid-column: 2 / 13;
      grid-row: 5;
    }
  }

  @media #{$mq-xl} {
    @supports (display: grid) {
      grid-column: 3 / 13;
    }
  }
}

.ft-c-post-share {
  margin-bottom: 32px;
}

.ft-c-post-share__icons {
  display: flex;
  justify-content: center;

  img {
    padding: 0 16px;
    max-height: 20px;
    opacity: 0.7;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }
  }
}

.ft-c-single-post-share__divider {
  margin: 40px auto;
  @media #{$mq-lg} {
    max-width: 100%;
  }
  @media #{$mq-xl} {
    max-width: 80%;
  }
}
