@use "../../vendor/protocol/css/includes/lib" as *;

.ft-404 {
  min-height: 80vh;
  text-align: center;
  padding: 80px 0;

  .page-content {
    margin-top: 40px;
  }

  @media #{$mq-lg} {
    padding: 160px 0;
  }
}
